

body{
    background-color: #0E0E0E;
    margin: auto;
    padding: 0;
    max-width: 1240px;
    /* display: flex;
    flex-direction: column;
    align-self: center; */
    color: white;
    box-sizing: border-box;
}


.banner{
    background-image: url("../images/banner.png"), linear-gradient(rgba(0, 0, 0, 0.953),  #091920 230px,rgba(0, 0, 0, 0.953));
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    /* background-color: #091920; */
    margin-bottom: 0px;
    border-bottom: 2px solid #216b8a ;
    
}
.banner h1{
    font-family: "Fira Sans Condensed", sans-serif;
    background: linear-gradient(to top, #1a689c, #2A99D1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; 
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 35px;
    font-variation-settings: "wdth" 100;
    /* color: #248EC9; */
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 80px;
}

.logo{
    display: flex;
    justify-content: center;
    background-color: #00000058;
    padding: 30px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.logo img{

}


.banner-content{

}

.banner-content p{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    color:#b7b7b7;

}

#trilha-css-p{
    width: 500px;
    word-wrap: break-word;
    margin-top: -20px;
}

p{

}

.banner-content button{
    background-color: transparent;
    width: 289px ;
    height: 55px;
    border: solid;
    border-width: 2px;
    border-color: #358FB6;
    color:#33acdf;
    box-sizing: content-box;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin: 5px;
    padding: 0 16px;
    letter-spacing: 1.5px;
}

main{
    background-color: rgba(0, 0, 0, 0.948);
    margin-top: 0;
}

#course-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 28px;
    font-family: "Pathway Extreme", sans-serif;
    font-weight: 550;
    letter-spacing: 5px;
    padding-top: 100px;
    color: #33A8DB;
}

#course-content p{
    color:#b7b7b7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
}

#course-content-p{
    width: 750px;
    text-indent: -18px;

}

.modules-list{
    padding: 10px;
    padding-bottom: 60px;
}


.module{
    border: 1px solid  #205b74;
    border-radius: 100px;
    background-color: #252525;
    padding: 12px;
    margin: 10px;
    width: 500px;
    box-shadow: inset -3px 5px 5px #171717;
    text-align: center;
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.module span{
    color: #33A8DB;
}

#transform-world{
   width: 100%;
   height: 320px;
   background-position: center -213px ;
   background-image: url("../images/woman-code.png");
   background-size: cover;
   background-repeat: no-repeat;
   border-bottom: 2px solid #216b8a ;
   border-top:  2px solid #216b8a ;
   border-right: 2px solid #216b8a ;
}

#transform-world div{
    width: 210px;
    font-size: 30px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    word-wrap: break-all;
    text-shadow: 2px 2px #66BEE4;
    padding-left: 150px;
    padding-top: 70px;
}

#professional-challenges{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#professional-challenges img{
    object-position: center;
    object-fit: contain;

}

#professional-challenges p{
    color:#b7b7b7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
    background-image: linear-gradient(black 10%, #0A212B 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

footer img{
    object-position: center;
    object-fit: contain;
    width: 200px;
}

footer a{
    color:#33A8DB;
    text-decoration: none;
}

footer p{
    color:#b7b7b7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




